<div class="container">
  <div class="row">
    <div class="column" *ngFor="let bodyPart of bodyParts; index as i">
      <div *ngIf="i <= 3" class="card" routerLink="/map/{{bodyPart.id}}" >{{ bodyPart.name }} </div>
    </div>
  </div>
  <div class="row">
    <div class="column2" *ngFor="let bodyPart of bodyParts; index as i">
      <div *ngIf="i > 3 && i <= 7" class="card" routerLink="/map/{{bodyPart.id}}">{{ bodyPart.name }}</div>
    </div>
  </div>
  <div class="row">
    <div class="column3" *ngFor="let bodyPart of bodyParts; index as i">
      <div *ngIf="i > 7 && i <= 11" class="card" routerLink="/map/{{bodyPart.id}}">{{ bodyPart.name }}</div>
    </div>
  </div>
</div>
